* {
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #f2f1fb;
  margin: 0;
  padding: 0;
}

.headings, .chiffres__title, .decouvrir__title {
  font-family: "montserrat", sans-serif;
  color: #f09782;
  font-weight: bold;
}
.headings__h2, .headings__h3 {
  font-size: 3rem;
}

.container, .chiffres {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__list {
  list-style: none;
  display: flex;
}
.nav__item {
  display: inline;
}
.nav__item--last {
  margin-right: 2em;
}
.nav__link {
  color: #1a1824;
  text-decoration: none;
  margin-right: 2em;
  font-weight: 700;
}
.nav__link--active {
  font-weight: bold;
  color: #1a1824;
  background-color: #fff;
}

.menu-icon {
  width: 30px;
  height: 20px;
}
.search-bar__content {
  text-align: center;
  width: 80%;
  max-width: 1000px;
}
.search-bar__text {
  font-size: 18px;
  color: #a29458;
  line-height: 1.5;
  margin-bottom: 20px;
}
.search-bar__form {
  display: flex;
}
.search-bar__input {
  flex: 1;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}
.search-bar__button {
  background-color: #a29458;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.search-bar__button:hover {
  background-color: #817646;
}

.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button--primary {
  background-color: #a29458;
  color: #fff;
}
.button--primary:hover {
  background-color: #817646;
}
.button--large {
  font-size: 18px;
}

.guide {
  text-align: center;
  background-color: #f09782;
}

.decouvrir {
  color: #a29458;
  font-weight: 900;
  padding: 20px;
}
.decouvrir__content {
  max-width: 1000px;
  margin: 0 auto;
}
.decouvrir__title {
  text-align: center;
}
.decouvrir__text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.decouvrir__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.decouvrir__block {
  flex: 1 0 33%;
  text-align: center;
  margin-bottom: 20px;
}
.decouvrir__block-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.decouvrir__block-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.decouvrir__block-text {
  font-size: 14px;
  line-height: 1.5;
}

.chiffres {
  text-align: center;
  padding: 50px 0;
}
.chiffres__title {
  font-size: 32px;
  margin-bottom: 30px;
}
.chiffres__text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.chiffres__blocks {
  display: flex;
  justify-content: space-between;
}
.chiffres__left-block, .chiffres__right-block {
  flex: 1;
}
.chiffres__right-block {
  display: flex;
  flex-wrap: wrap;
}
.chiffres__block {
  flex: 1 0 50%;
  text-align: center;
  margin-bottom: 20px;
}
.chiffres__block-img {
  width: 50%;
  height: auto;
}
.chiffres__block-imgbig {
  width: 70%;
  height: auto;
}
.chiffres__button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.chiffres__button--primary {
  background-color: #a29458;
  color: #fff;
}
.chiffres__button--primary:hover {
  background-color: #817646;
}

.footer__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}