@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #f2f1fb;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #a29458;
}

.headings, .partenaires__title, .galerie, .chiffres__title, .decouvrir__title {
  font-family: "montserrat", sans-serif;
  color: rgb(240, 151, 130);
  font-weight: bold;
}
.headings__h2, .contact-container__title, .headings__h3 {
  font-size: 3rem;
}

.container, .footer, .info-section, .partenaires, .galerie, .contact-container, .chiffres, .decouvrir, .search-bar {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo img {
  max-width: 80%;
  height: auto;
}

.nav__list {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 15px;
}
.nav__item {
  display: inline;
}
.nav__item--last {
  margin-left: auto;
}
.nav__link {
  color: #1a1824;
  text-decoration: none;
  margin-right: 2em;
  font-weight: bold;
}
.nav__link:hover {
  color: #e74c3c;
}
.nav__link--active {
  font-weight: bold;
  color: #1a1824;
  background-color: #fff;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #e74c3c;
  color: rgb(240, 151, 130);
  padding: 8px;
  z-index: 100;
}
.skip-link:focus {
  top: 0;
}

.menu-icon {
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: none;
}
.menu-icon__bar {
  width: 100%;
  height: 4px;
  background-color: #fff;
  margin-bottom: 5px;
  display: none;
}

.search-bar {
  background: #1a1824;
  color: rgb(240, 151, 130);
  padding: 20px;
}
.search-bar__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.search-bar__text {
  margin-bottom: 10px;
}
.search-bar__form {
  display: flex;
  gap: 10px;
}
.search-bar__input {
  flex: 1;
  padding: 10px;
  border: none;
}
.search-bar__button {
  background-color: #e74c3c;
  color: rgb(240, 151, 130);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.search-bar__button:hover {
  background: #d62c1a;
}

.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button--primary {
  background-color: #a29458;
  color: #fff;
}
.button--primary:hover {
  background-color: #817646;
}
.button--large {
  font-size: 18px;
}

.guide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.guide .btn--primary {
  background: #e74c3c;
  color: rgb(240, 151, 130);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.guide .btn--primary:hover {
  background: #d62c1a;
}
.guide .btn--large {
  font-size: 1.5em;
}

.decouvrir {
  background-color: #1a1824;
  color: #a29458;
  font-weight: 900;
  padding: 20px;
}
.decouvrir__content {
  max-width: 1000px;
  margin: 0 auto;
}
.decouvrir__title {
  text-align: center;
}
.decouvrir__text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.decouvrir__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.decouvrir__block {
  flex: 1 0 33%;
  text-align: center;
  margin-bottom: 20px;
}
.decouvrir__block-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.decouvrir__block-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.decouvrir__block-text {
  font-size: 14px;
  line-height: 1.5;
}

.chiffres {
  background-color: #1a1824;
  color: #a29458;
  text-align: center;
  padding: 50px 0;
}
.chiffres__title {
  font-size: 32px;
  margin-bottom: 30px;
}
.chiffres__text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.chiffres__blocks {
  display: flex;
  justify-content: space-between;
}
.chiffres__left-block, .chiffres__right-block {
  flex: 1;
}
.chiffres__right-block {
  display: flex;
  flex-wrap: wrap;
}
.chiffres__block {
  flex: 1 0 50%;
  text-align: center;
  margin-bottom: 20px;
}
.chiffres__block__icon {
  font-size: 40px;
  margin-bottom: 10px;
}
.chiffres__block__number {
  font-size: 24px;
  font-weight: bold;
}
.chiffres__block__label {
  font-size: 14px;
  color: #666;
}
.chiffres__button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.chiffres__button--primary {
  background-color: #a29458;
  color: #fff;
}
.chiffres__button--primary:hover {
  background-color: #817646;
}

.contact-container {
  padding: 40px 0;
  background: url("https://maps.app.goo.gl/tuS8wqkJRjcTF3KU8") no-repeat center center;
  background-size: cover;
  text-align: center;
  position: relative;
}
.contact-container__flex {
  display: flex;
  justify-content: space-between;
}
.contact-container__flex--vide {
  width: 40%;
}
.contact-container__iframe {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place l'iframe derrière le contenu de la section */
}
.contact-container__title {
  margin-bottom: 20px;
  color: #a29458;
}
.contact-container__form {
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.contact-container__input-group, .contact-container__textarea-group {
  margin-bottom: 1rem;
}
.contact-container__input-group-label, .contact-container__textarea-group-label {
  display: none;
  margin-bottom: 0.5rem;
}
.contact-container__input-group-input, .contact-container__textarea-group-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.contact-container__input-group-input--error, .contact-container__textarea-group-input--error {
  border-color: red;
}
.contact-container__input-group-input--success, .contact-container__textarea-group-input--success {
  border-color: green;
}
.contact-container__input-group-input::placeholder, .contact-container__textarea-group-input::placeholder {
  color: #999;
}
.contact-container__input-group-input:invalid, .contact-container__textarea-group-input:invalid {
  border-color: red;
}
.contact-container__input-group-error, .contact-container__textarea-group-error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
.contact-container__button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #a29458;
  color: #fff;
  font-size: 18px;
  width: 100%;
  padding: 15px;
}
.contact-container__button:hover {
  background-color: #817646;
}

.galerie {
  align-content: center;
}
.galerie__grid {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(8, auto);
  grid-gap: 1em;
}
.galerie__item {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.galerie__img {
  width: 60%;
}
.galerie__img--1 {
  grid-column: 1/5;
  grid-row: 3/7;
}
.galerie__img--2 {
  grid-column: 5/11;
  grid-row: 2/4;
}
.galerie__img--3 {
  grid-column: 11/14;
  grid-row: 3/4;
}
.galerie__img--4 {
  grid-column: 14/17;
  grid-row: 3/7;
}
.galerie__img--5 {
  grid-column: 5/8;
  grid-row: 4/6;
}
.galerie__img--6 {
  grid-column: 8/14;
  grid-row: 4/8;
}

.partenaires {
  padding: 50px 0;
  text-align: center;
  background-color: #f2f1fb;
}
.partenaires__title {
  margin-bottom: 30px;
}
.partenaires__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.partenaires__block {
  background-color: #1a1824;
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 calc(25% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.partenaires__block-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}
.partenaires__block-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #a29458;
}
.partenaires__block-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #a29458;
  color: #fff;
  padding: 10px 20px;
}
.partenaires__block-button:hover {
  background-color: #817646;
}
.partenaires__block--style1 {
  background-color: #252233;
}
.partenaires__block--style2 {
  background-color: #302c43;
}
.partenaires__block--style3 {
  background-color: #3b3752;
}
.partenaires__block--style4 {
  background-color: #464161;
}
.partenaires__socials {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.partenaires__link {
  color: #a29458;
  font-size: 1.5rem;
}
.partenaires__link:hover {
  color: #c7bf99;
}

.info-section__separator {
  width: 100%;
  height: 2px;
  background-color: #a29458;
  margin: 20px 0;
}
.info-section__logo {
  text-align: center;
  margin: 20px 0;
}
.info-section__logo-img {
  width: 150px;
}
.info-section__nav {
  text-align: center;
  margin-bottom: 2em;
}
.info-section__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  gap: 20px;
}
.info-section__nav-item {
  display: inline-block;
}
.info-section__nav-link {
  text-decoration: underline;
  color: #a29458;
  font-size: 0.9rem;
  font-weight: 700;
  transition: color 0.3s;
}
.info-section__nav-link:hover {
  color: #817646;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}
.footer__separator {
  border: none;
  border-top: 2px solid #a29458;
  margin: 0 0 20px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.footer__left, .footer__center, .footer__right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__text {
  margin: 0;
  font-size: 14px;
}
.footer__link {
  margin: 0 5px;
  color: #a29458;
  text-decoration: none;
  font-size: 18px;
}
.footer__link:hover {
  color: #b5aa78;
}
.footer__contact {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.footer__contact i {
  margin-right: 5px;
}
.footer__contact:hover {
  color: white;
}

@media (max-width: 1200px) {
  .container, .search-bar, .decouvrir, .chiffres, .contact-container, .galerie, .partenaires, .info-section, .footer {
    max-width: 1000px;
  }
  .nav__link {
    margin-right: 1.5em;
  }
  .decouvrir__block {
    flex: 1 0 45%;
  }
  .chiffres__block {
    flex: 1 0 45%;
  }
  .partenaires__block {
    flex: 1 1 calc(33% - 20px);
  }
}
@media (max-width: 960px) {
  .container, .search-bar, .decouvrir, .chiffres, .contact-container, .galerie, .partenaires, .info-section, .footer {
    width: 95%;
  }
  .header {
    flex-direction: column;
  }
  .nav__list {
    flex-direction: column;
    gap: 10px;
  }
  .decouvrir__block {
    flex: 1 0 100%;
  }
  .chiffres__left-block,
  .chiffres__right-block {
    flex: 1 0 100%;
  }
  .chiffres__block {
    flex: 1 0 100%;
  }
  .galerie__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .partenaires__block {
    flex: 1 1 calc(50% - 20px);
  }
}
@media (max-width: 570px) {
  .menu-icon {
    display: block;
  }
  .menu-icon__bar {
    display: block;
  }
  .nav__list {
    display: none;
    flex-direction: column;
    gap: 10px;
  }
  .nav__list--active {
    display: flex;
  }
  .search-bar__form {
    flex-direction: column;
  }
  .partenaires__block {
    flex: 1 1 100%;
  }
  .galerie__grid {
    grid-template-columns: 1fr;
  }
}
@media print {
  body {
    background-color: #fff;
    color: #000;
  }
  .header, .footer, .nav, .menu-icon, .search-bar, .contact-container .skip-link {
    display: none;
  }
  .container, .search-bar, .decouvrir, .chiffres, .contact-container, .galerie, .partenaires, .info-section, .footer {
    width: 100%;
    margin: 0;
  }
  .content {
    padding: 0;
    margin: 0;
  }
  .decouvrir__block, .chiffres__block {
    flex: 1 0 100%;
    margin-bottom: 10px;
  }
  .partenaires__block {
    flex: 1 1 100%;
    page-break-inside: avoid;
  }
}