// Variables
$primary-color: #a29458; // Base color for buttons
$secondary-color: #f09782;
$tertiary-color: #f2f1fb;
$quaternary-color: #1a1824;

// Base styles
* {
  box-sizing: border-box; // Ensures consistent box model for all elements
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: $tertiary-color;
  margin: 0;
  padding: 0;
}

// Headings
.headings {
  font-family: "montserrat", sans-serif;
  color: $secondary-color;
  font-weight: bold;

  &__h2,
  &__h3 {
    font-size: 3rem; // Using rem unit for better scalability
  }
}

// Container
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

// Header
.header {
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    // Logo styles
  }
}

// Navigation
.nav {
  &__list {
    list-style: none;
    display: flex;
  }

  &__item {
    display: inline;

    &--last {
      margin-right: 2em;
    }
  }

  &__link {
    color: $quaternary-color;
    text-decoration: none;
    margin-right: 2em;
    font-weight: 700;

    &--active {
      font-weight: bold;
      color: $quaternary-color;
      background-color: #fff;
    }
  }
}

// Menu Icon
.menu-icon {
  width: 30px;
  height: 20px;

  &__bar {
    // Menu icon bar styles
  }
}

// Search Bar
.search-bar {
  &__content {
    text-align: center;
    width: 80%; // Adjust width as needed
    max-width: 1000px;
  }

  &__text {
    font-size: 18px;
    color: $primary-color;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
  }

  &__input {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }

  &__button {
    background-color: $primary-color; // Use your primary color variable
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($primary-color, 10%); // Use your primary color variable
    }
  }
}

// Button
@mixin button-base {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@mixin button-primary {
  background-color: $primary-color;
  color: #fff;

  &:hover {
    background-color: darken($primary-color, 10%); // Using Sass function for darker shade
  }
}

@mixin button-large {
  font-size: 18px;
}

.button {
  @include button-base;

  &--primary {
    @include button-primary;
  }

  &--large {
    @include button-large;
  }
}


// Guide
.guide {
  text-align: center;
  background-color: #f09782;
}

// Decouvrir Section
.decouvrir {
  color: $primary-color;
  font-weight: 900;
  padding: 20px;

  &__content {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__title {
    @extend .headings;
    text-align: center;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__block {
    flex: 1 0 33%;
    text-align: center;
    margin-bottom: 20px;

    &-img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-bottom: 10px;
    }

    &-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    &-text {
      font-size: 14px;
      line-height: 1.5;
    }
  }
}



// Chiffres Section
.chiffres {
  @extend .container;
  text-align: center;
  padding: 50px 0;

  &__title {
    @extend .headings;
    font-size: 32px;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__blocks {
    display: flex;
    justify-content: space-between;
  }

  &__left-block,
  &__right-block {
    flex: 1;
  }

  &__right-block {
    display: flex;
    flex-wrap: wrap;
  }

  &__block {
    flex: 1 0 50%;
    text-align: center;
    margin-bottom: 20px;

    &-img {
      width: 50%;
      height: auto;
    }
    &-imgbig {
      width: 70%;
      height: auto;
    }
  }
  &__button {
    @include button-base;

    &--primary {
      @include button-primary;
    }
  }
}

// Contact Section
.contact-container {
  @extend .container;
  padding: 40px 0;
  background: url('https://maps.app.goo.gl/tuS8wqkJRjcTF3KU8') no-repeat center center;
  background-size: cover;
  text-align: center;
  position: relative;
  
  &__flex {
    display: flex; 
    justify-content: space-between; 
    &--vide {
      width: 40%;
      
    }
  }

  &__iframe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place l'iframe derrière le contenu de la section */
  }
  &__title {
    @extend .headings__h2;
    margin-bottom: 20px;
    color: $primary-color;
  }

  &__form {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
  }

  &__input-group {
    margin-bottom: 15px;

    &-label {
      display: none;
    }

    &-input {
      width: 100%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;

      &::placeholder {
        color: #999;
      }

      &:invalid {
        border-color: red;
      }
    }
  }

  &__textarea-group {
    margin-bottom: 15px;

    &-textarea {
      width: 100%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      resize: vertical;

      &::placeholder {
        color: #999;
      }

      &:invalid {
        border-color: red;
      }
    }
  }

  &__button {
    @include button-base;
    @include button-primary;
    @include button-large;
    width: 100%;
    padding: 15px;
  }
}
.galerie {
  @extend .container;
  @extend .headings;
  @extend .chiffres;

  &__grid {
    display: grid;
    grid-template-columns: repeat(17, 1fr); /* Adjusted to 4 columns */
    grid-template-rows: repeat(8, auto);   /* Adjusted to 4 rows */
    grid-gap: 1em;
  }

  &__item {
    width: 100%; /* Ensuring items take full grid cell width */
    height: auto;
    object-fit: cover;
  }

  &__img {
    width: 60%;
  }

  &__img--1 {
    grid-column: 1 / 5;  /* Occupe 3 colonnes */
    grid-row: 3 / 7;     /* Occupe 3 lignes */
  }

  &__img--2 {
    grid-column: 5 / 11;  /* Occupe 5 colonnes */
    grid-row: 2 / 4;     /* Occupe 3 lignes */
  }

  &__img--3 {
    grid-column: 11 / 14; /* Occupe 3 colonnes */
    grid-row: 3 / 4;     /* Occupe 2 lignes */
  }

  &__img--4 {
    grid-column: 14 / 17;  /* Occupe 3 colonnes */
    grid-row: 3 / 7;     /* Occupe 3 lignes */
  }

  &__img--5 {
    grid-column: 5 / 8;  /* Occupe 5 colonnes */
    grid-row: 4 / 6;     /* Occupe 2 lignes */
  }

  &__img--6 {
    grid-column: 8 / 14; /* Occupe 3 colonnes */
    grid-row: 4 / 8;     /* Occupe 3 lignes */
  }
}